<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a Home Page for this web site</h1>
    <h2>Author: {{author}}</h2>
    <h2>Age: {{age}}</h2>
    <h2>List: {{list}}</h2>

    {% if age >= 20 %}
        <h4>You will get driving license.</h4>
    {% elif age >= 10 and age <= 19 %} 
        <h4>You will not get driving license.</h4>
    {% else %}
        <h4>You are a Child</h4>
    {% endif %}

    <!-- Join function -->
    {{list}}
    <h1>{{list | join:" - "}}</h1>

    <h1>{{ birthday | date:"D d M Y"}}</h1>

    <h1>{{val | add:'6'}}</h1>

    <h2>{{name | capfirst}}</h2>

    <h2>{{myname | cut:" "}}</h2>

    <h1>First And Last of the list : </h1>
    <h2>{{firstAndLast | first }}</h2>
    <h2>{{firstAndLast | last }}</h2>

    <h2>Title : </h2>
    <h3></h3>

    <h2>Length: </h2>
    <h3>{{firstAndLast | length}}</h3>

    <h3>{{university | title}}</h3>

    <!-- For Loop -->
    {% for i in courses %} 
        <h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
    {% endfor %}
</body>
</html >