<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Add -->
    <h3>{{for_add | add:"20"}}</h3>
    <h3>{{for_addslashes | addslashes }}</h3>
    <h3>{{for_capfirst | capfirst }}</h3>
    <h3>{{for_center | center:"20"}}</h3>
    <h3>{{for_cut | cut:" "}}</h3>
    <h3>{{for_date | date:"D d M Y"}}</h3>
    <h3>{{for_empty | default:"Nothing"}}</h3>
    <h3>{{for_dicsort | dictsort:"name"}}</h3>
    <h3>{{for_divisibleby | divisibleby:"3"}}</h3>
    <h3>{{for_filesizeformat | filesizeformat}}</h3>
    <h3>{{for_first_and_last | first}}</h3>
    <h3>{{for_first_and_last | last}}</h3>
    <h3>{{for_first_and_last | join:"-"}}</h3>
    <h3>{{for_first_and_last | length}}</h3>
    <h3>{{for_lower | lower}}</h3>
    <h3>{{for_lower | make_list}}</h3>
    <h3>{{for_lower | make_list | random}}</h3>
    <h3>{{for_lower | make_list | slice:"4"}}</h3>
    <h3>{{for_lower | slugify}}</h3>
    <h3>{{for_title | title}}</h3>
    <h3>{{for_title | wordcount}}</h3>
    <h3>{{for_title | upper}}</h3>

   

</body>
</html>